<tr>
  <td>
    <%= actor.id %>
  </td>

  <td>
    <img src="<%= actor.image %>">
  </td>

  <td>
    <%= actor.name %>
  </td>

  <td>
    <%= actor.dob %>
  </td>

  <td>
    <a href="/actors/<%= actor.id %>">
      Show details
    </a>
  </td>
</tr>
